@model  WebRecomendationControlApp.ViewModels.ReviewViewModel

<input type="hidden" asp-for="Id" />
<div class="form-group">
	<label asp-for="ReviewTitle" class="control-label"></label><br />
	<input type="text" asp-for="ReviewTitle" />
	<span asp-validation-for="ReviewTitle" class="text-danger"></span>
</div>
<div id="tagsContainer">
	<label asp-for="ReviewTags" class="control-label">Tags (put each tag in different field)</label><br />
	@{
		int i = 1;
		string stringId;
		if (Model != null)
		{
			foreach (var tag in Model.ReviewTags)
			{
				stringId = "Tag[" + i + "]";
				<input id="@stringId" type="text" value="@tag" name="ReviewTags" autocomplete="on" onchange="onChangeAdd()" />
				i = i + 1;
			}
		}
		stringId = "Tag[" + i + "]";
		<input id="@stringId" type="text" value="" name="ReviewTags" autocomplete="on" onchange="onChangeAdd()" />
		<span asp-validation-for="ReviewTags" class="text-danger"></span>
	}
</div>
<div class="form-group">
	<label asp-for="ReviewGroupId" class="control-label"></label><br />
	@Html.DropDownListFor(model => model.ReviewGroupId, ViewBag.ReviewGroups as SelectList)
	<span asp-validation-for="ReviewGroupId" class="text-danger"></span>
</div>
<div class="form-group">
	<label asp-for="ReviewRating" class="control-label"></label><label>(0-5)</label><br />
	<input type="number" min="0" max="5" asp-for="ReviewRating" />
	<span asp-validation-for="ReviewRating" class="text-danger"></span>
</div>
<div class="form-group">
	<label asp-for="ReviewDescription" class="control-label"></label>
	<textarea rows="10" cols="45" asp-for="ReviewDescription" class="form-control"></textarea>
	<span asp-validation-for="ReviewDescription" class="text-danger"></span>
</div>
<div class="form-group">
	<label asp-for="ImageFiles" class="control-label"></label>
	<input asp-for="ImageFiles" type="file" accept="image/*" class="form-control" multiple/>
	<span asp-validation-for="ImageFiles" class="text-danger"></span>
</div>

@*<div class="file-upload-wrapper">
   <input type="file" id="input-image" class="file-upload" data-height="500" name="imageName" onchange="updateImageDisplay()" />
</div>
<div id="preview">
	<p>No files currently selected for upload</p>
</div>*@
