@model  WebRecomendationControlApp.ViewModels.ReviewViewModel

@{
	ViewData["Title"] = "Edit";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>Review</h4>
<hr />
<div class="row">
	<div class="col-md-4">
		<form method="post" asp-action="Edit" enctype="multipart/form-data">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<partial name="_EditReview" model="@Model" />
			<div class="form-group">
				<br />
				<input type="submit" value="Save" class="btn btn-primary" />
			</div>
		</form>
	</div>
</div>
