@model IEnumerable<WebRecomendationControlApp.Models.ReviewComment>

<table class="table">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.Commentator)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Text)
			</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.Commentator.UserName)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Text)
				</td>
			</tr>
		}
	</tbody>
</table>