@model IEnumerable<WebRecomendationControlApp.Models.ReviewComment>

@{
	ViewData["Title"] = "Index";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Comments</h1>
<div id="commentList">
	<partial name="_GetComments" model="@Model"></partial>
</div>

<div class="fixed-bottom container bg-white ">
	<form method="post">
		<div class="form-inline">
			<div class="d-flex justify-content-center pb-3 pt-1">
				<input type="hidden" id="ReviewId" name="ReviewId" value=@ViewBag.ReviewId />
				<textarea id="CommentText" class="form-control border border-dark" rows="1" name="CommentText"></textarea>
				<button id="send-comment-button" type="submit" class="btn btn-light btn-circle" >
					<i class="fa fa-paper-plane"></i>
				</button>
			</div>
		</div>
	</form>
</div>
